<section id="feature" class="feature-section pt-150">
  <div class="container">
    <h1>Editar Paciente</h1>

    <%= render partial: 'form', locals: { patient: @patient, btn_description: 'Atualizar Paciente' } %>
  </div>
</section>