<section id="feature" class="feature-section pt-150">
  <div class="container">
    <h1>Editar Médico</h1>

    <%= render partial: 'form', locals: { doctor: @doctor, btn_description: 'Atualizar Médico' } %>
  </div>
</section>