<section id="feature" class="feature-section pt-150">
  <div class="container">
    <h1>Editar Consulta</h1>

    <%= render partial: 'form', locals: { appointment: @appointment, btn_description: 'Atualizar Consulta' } %>
  </div>
</section>